
    <div class="outer-header" style="margin-bottom: 20px;">
        <h1 class="ui header">Add new post</h1>
    </div>


<form class="ui form" id="sumbitform">
  <div class="field">
    <label>Title</label>
    <input type="text" id="title">
  </div>

    <div class="field">
    <label>Description:</label>
    <textarea id="description"></textarea>
  </div>
    <button class="ui green button" id="add-new" type="submit">Save Post</button>
  
</form>




<script src="/js/newpost.js"></script>