
<div class="ui  container">
<h1>Login</h1>
  <form class="ui form" id="loginForm">
  <div class="field">
    <label>User Name</label>
    <input type="text" name="user-name" id="user_name" placeholder="User Name">
  </div>
  <div class="field">
    <label>Password</label>
    <input type="password" name="password"  id="password" placeholder="Password">
  </div>
 
  <button class="ui button green" type="submit">Submit</button>
   <button class="ui button grey" type="button" onclick="opensignup()">Signup</button>
</form>
</div>


<script src="./js/login.js"></script>
